astroid==1.6.5
backcall==0.1.0
bleach==2.1.3
certifi==2018.4.16
chardet==3.0.4
click==6.7
-e git+https://github.com/tambetm/pommerman-baselines.git@b08a21e661cb9fe71c1bd10e9f3b36305f3d761d#egg=cpommerman&subdirectory=cython_env
cymem==1.31.2
Cython==0.28.5
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.8.2
docker==3.4.1
docker-pycreds==0.3.0
entrypoints==0.2.3
Flask==0.12.4
future==0.16.0
gym==0.10.5
html5lib==1.0.1
idna==2.7
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.0
isort==4.3.4
itsdangerous==0.24
jedi==0.12.1
Jinja2==2.10
jsonmerge==1.5.1
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
llvmlite==0.24.0
lxml==4.2.4
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.3
msgpack==0.5.6
msgpack-numpy==0.4.3.1
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==6.1.5
numba==0.39.0
numbskull==0.1.1
numpy==1.15.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
pkg-resources==0.0.0
plac==0.9.6
pommerman==0.2.0
preshed==1.0.1
prometheus-client==0.3.1
prompt-toolkit==1.0.15
psycopg2==2.7.5
ptyprocess==0.6.0
pyglet==1.3.2
Pygments==2.2.0
pylint==1.9.3
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.1.0
regex==2017.4.5
requests==2.19.1
ruamel.yaml==0.15.50
scikit-learn==0.19.2
scipy==1.1.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
snorkel==0.7.0b0
spacy==2.0.12
SQLAlchemy==1.2.10
terminado==0.8.1
testpath==0.3.1
thinc==6.10.3
tika==1.18
toolz==0.9.0
tornado==5.1
tqdm==4.24.0
traitlets==4.3.2
treedlib==0.1.1
ujson==1.35
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.14.1
widgetsnbextension==3.4.0
wrapt==1.10.11
